@import '~Scss/utils/global';

.sign-in {
	display: flex;
	flex-direction: column;
	width: 380px;
}

.title {
	margin: 10px 0;

	font-weight: 600;

	font-size: rem(30px);
}

.subtitle {
	font-size: rem(22px);
}

.buttons {
	display: flex;
	justify-content: space-between;
}
